.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: larger;

  margin-bottom: 50px;
}
