.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-home {
  background-color: khaki;
  padding: 5px;
  margin: 5px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.home {
  background-color: aqua;
  display: contents;
  justify-content: center;
  align-items: center;
}
.game-title {
  font-size: 2.5rem;
  margin: 5px;
  padding: 10px;
  text-align: center;
  color: brown;
}

.radio {
  background-color: #39afcc;
  margin: 5px;

  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

button {
  background-color: transparent;
  width: 250px;
  height: 60px;
  padding: 12px;
  padding-left: 40px;
  padding-right: 50px;
  box-sizing: border-box;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  border: 8px transparent;
}

.btn {
  border-image: -webkit-linear-gradient(right, #fdc830, #f37335);
  border-image-slice: -1;
}

.btn:hover {
  border: none;
  border-image: -webkit-linear-gradient(right, #fdc830, #f37335);
}
